In [2]:
import pickle
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from random import randint
import warnings
warnings.filterwarnings("ignore")

with open('tfidf_vectorizer.pkl', 'rb') as vectorizer_file:
    tfidf_vectorizer = pickle.load(vectorizer_file)
with open('mlb.pkl', 'rb') as mlb_file:
    mlb = pickle.load(mlb_file)

with open('random_forest_classifier.pkl', 'rb') as classifier_file:
    rf_classifier = pickle.load(classifier_file)

In [10]:
import numpy as np



full_text=str('Leo')
dec=str('Parthiban is a mild mannered cafe owner in Kashmir, who he fends off a gang of murderous thugs, and gains attention from a drug cartel claiming he was once a part of them.')
input_text=full_text+'_'+dec
input_text=[input_text]
input_vector = tfidf_vectorizer.transform(input_text).toarray()
predicted_probabilities = rf_classifier.predict_proba(input_vector)
    
new=list()
for i in range(len(predicted_probabilities)):
    new.append(1-predicted_probabilities[i][0][0])
treshold=.24
pred=list()
for i in new:
    if i >= treshold:
        pred.append(1)
    else:
        pred.append(0)
l=np.array([pred])
predicted_labels_text = mlb.inverse_transform(l)

prediction_label = predicted_labels_text

In [11]:
prediction_label

[('Action', 'Crime', 'Drama')]

In [24]:
import ast
data = pd.read_csv('metadata.csv', low_memory=False)
data['genres'] = data['genres'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])
data['new']=data['genres']
def eng(x):
    llsst=[]
    for i in x:
        for j in i:
            if j=='name':
                llsst.append(i[j])
    return llsst


data['new']=data['genres'].apply(lambda x: eng(x))

In [44]:
import ast

data['spoken_languages'] = data['spoken_languages'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

ValueError: malformed node or string: [{'iso_639_1': 'en', 'name': 'English'}]

'en'

In [54]:
def eng(x):
    llsst=[]
    for i in x:
        for j in i:
            if j=='iso_639_1':
                llsst.append(i[j])
    return llsst



data['language']=data['spoken_languages'].apply(lambda x: eng(x))

In [75]:
data['adult'] = data['adult'].astype(bool)
data['adult'].replace({True: 1, False: 0}, inplace=True)

In [77]:
data['belongs_to_collection'] = data['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

In [85]:
f=data['belongs_to_collection'][0]
f['name']

'Toy Story Collection'

In [102]:
def eng(x):
    llsst=[]
    if x==[]:
        #print(x)
        llsst.append(None)
    else:
        
        for i in x:
            if i=='name':
                llsst.append(x[i])

    return llsst




data['collection']=data['belongs_to_collection'].apply(lambda x: eng(x))

In [105]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'new', 'language', 'collection'],
      dtype='object')

In [113]:
data=data.drop(columns=['belongs_to_collection', 'budget','genres','homepage','id','budget','imdb_id','vote_count','video','runtime'])

In [121]:
data=data.drop(columns=['poster_path','poster_path'])

In [127]:
data['production_companies'] = data['production_companies'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

In [137]:
data

,adult,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,status,tagline,title,vote_average,new,language,collection,company
0,1,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,"[Animation, Comedy, Family]",[en],[Toy Story Collection],[]
1,1,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,"[Adventure, Fantasy, Family]","[en, fr]",[None],[]
2,1,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,"[Romance, Comedy]",[en],[Grumpy Old Men Collection],[]
3,1,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,"[Comedy, Drama, Romance]",[en],[None],[]
4,1,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,[Comedy],[en],[Father of the Bride Collection],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,1,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,4.0,"[Drama, Family]",[fa],[None],[]
45462,1,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,[Drama],[tl],[None],[]
45463,1,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,"[Action, Drama, Thriller]",[en],[None],[]
45464,1,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,[],Released,NaN,Satan Triumphant,0.0,[],[],[None],[]
45465,1,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,[],[en],[None],[]

In [138]:
data.to_csv('new.csv', index=False)

In [116]:
def eng(x):
    llsst=[]
    if x==[]:
        #print(x)
        llsst.append(None)
    else:
        
        for i in x:
            if i=='name':
                llsst.append(x[i])

    return llsst




data['production_companies']=data['production_companies'].apply(lambda x: eng(x))

TypeError: 'float' object is not iterable

In [114]:
data.columns

Index(['adult', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'spoken_languages',
       'status', 'tagline', 'title', 'vote_average', 'new', 'language',
       'collection'],
      dtype='object')

In [108]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,new,language,collection
0,1,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]",[en],[Toy Story Collection]
1,1,[],65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]","[en, fr]",[None]
2,1,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]",[en],[Grumpy Old Men Collection]
3,1,[],16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[Comedy, Drama, Romance]",[en],[None]
4,1,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[Comedy],[en],[Father of the Bride Collection]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,1,[],0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[Drama, Family]",[fa],[None]
45462,1,[],0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,[Drama],[tl],[None]
45463,1,[],0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[Action, Drama, Thriller]",[en],[None]
45464,1,[],0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,[],Released,NaN,Satan Triumphant,False,0.0,0.0,[],[],[None]
45465,1,[],0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[],[en],[None]

In [ ]:
similar_movies = df[df['genre'] == predicted_genre]
# Print similar movies based on the predicted label
print("Similar Movies Based on Predicted Genre:")
for idx, row in similar_movies.iterrows():
    print(f"{row['title']} - {row['description']}")